## Lists in Python

##### 1. Some simple exercises: first create a list of letters out of your full name (only letters), check how many elements it has, and access some elements by their index.

In [1]:
full_name: str = "Kamil Ashardy"

letters_name: list = []

for letters in full_name:
    if letters == " ":
        continue
    else:
        letters_name.append(letters)

print(len(letters_name))

#print the first letter
print(letters_name[0])

#print the last letter
print(letters_name[-1])

# print the third letter of your name
print(letters_name[2])

12
K
y
m

##### 2. Some list manipulations: create a list of 10 random numbers (do it manually), change the third element to be 300, add the number 500 at the end of it,  insert in the 4th position the number 400, remove the second last element and then print it out.

In [ ]:
first_list = [22,55,4,88,34,35,422,2,90,12]     # expected output: [22,55,300,400,88,34,35,422,2,90,500]

first_list[2] = 300

first_list.append(500)

first_list.insert(3,400)

del first_list[-2]

print(first_list)

[22, 55, 300, 400, 88, 34, 35, 422, 2, 90, 500]

##### 3. From a list of number, calculate the sum and the average of the numbers.

In [25]:
numb_list = [3,1,33,5,14,72,8]


sum_elements = sum(numb_list)

avg_numb_list = sum_elements / len(numb_list)


print(sum_elements)
print(round(avg_numb_list,1))

136
19.4

##### 4. Reverse a list of numbers without using the reverse function.

In [7]:
straight = [0,1,2,3,4,5,6,7,8,9]

reversed = []

for num in range(len(straight)-1,-1,-1):

    reversed.append(straight[num])

print(straight)
print(reversed)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

##### 5. A list of integers, turn all the numbers in their squared value. Do not create a new list just modify the existing one.

In [110]:
basic_list = [2,7,11,4,23,9]
print(basic_list)

for num in range(len(basic_list)):
    basic_list[num] = basic_list[num]**2

print(basic_list)

[2, 7, 11, 4, 23, 9]
[4, 49, 121, 16, 529, 81]

##### 6. Find the max and the min value in a list of numbers.

In [113]:
other_list = [3,11,7,4,9,6,232,5]

print(other_list)

print(min(other_list))

print(max(other_list))

[3, 11, 7, 4, 9, 6, 232, 5]
3
232

##### 7. Give an example of the count() function with a list of numbers.

In [119]:
listone = [3,11,5,2,3,77,9,3,45,654,3,90,59,90]
print(listone)

print(listone.count(3))
print(listone.count(90))
print(listone.count(282))
print(listone.count(77))

[3, 11, 5, 2, 3, 77, 9, 3, 45, 654, 3, 90, 59, 90]
4
2
0
1

##### 8. Sort a list of numbers in ascending and descending order.

In [129]:
listone = [3,11,5,2,77,9,45,654,90,59]

ascending = sorted(listone)
descending = sorted(listone,reverse=True)

print(listone)
print(ascending)
print(descending)

[3, 11, 5, 2, 77, 9, 45, 654, 90, 59]
[2, 3, 5, 9, 11, 45, 59, 77, 90, 654]
[654, 90, 77, 59, 45, 11, 9, 5, 3, 2]

##### 9. Combine two lists  into a single one.

In [5]:
list_uno = [1,4,3,5]
list_due = ['a','r','t','y']

unified = list_uno + list_due

print(unified)

[1, 4, 3, 5, 'a', 'r', 't', 'y']

##### 10. From a list of string, eliminate the empty strings.

In [12]:
words_list = ['friend','','lawyer','parent','','doctor','','driver']
new_words_list = []


for word in words_list:
    if word == '':
        continue
    else:
        new_words_list.append(word)

print(words_list)    
print(new_words_list)

['friend', '', 'lawyer', 'parent', '', 'doctor', '', 'driver']
['friend', 'lawyer', 'parent', 'doctor', 'driver']

##### 11. Remove duplicates from a list of numbers.

In [19]:
duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

duplicates = set(duplicates)

duplicates = list(duplicates)

print(duplicates)

[1, 2, 3, 4, 5]

##### 12. From a list of numbers and strings, create two separate lists one for the numbers and one for the strings. Use list comprehension.

In [31]:
mixed_list = [1, 'Carl', 44, 'Ella', 22, 'Amber', 7, 23, 78, 'Michal', 'Lumber', 34]


integer_list = [element for element in mixed_list if isinstance(element, int)]

string_list = [element for element in mixed_list if isinstance(element,str)]

print(integer_list)

print(string_list)

[1, 44, 22, 7, 23, 78, 34]
['Carl', 'Ella', 'Amber', 'Michal', 'Lumber']

##### 13. From a nested list, access only the all the string elements, and print them out one by one.

In [33]:
nested_list = [1, 'Carl', 44, ['Ella', 22, 'Amber', 7, 23], 78, 'Michal', ['Lumber', 34]]

for element in nested_list:
    if isinstance(element, list):
        for j in element:
            if isinstance(j,str):
                print(j)
    elif isinstance(element, str):
        print(element)

    else:
        continue

Carl
Ella
Amber
Michal
Lumber

##### 14. Concatenate two lists index by index. Then print the result. E.g. ["M", "na", "i", "Ke"] and ["y", "me", "s", "lly"] should become ["My", "name", "is", "Kelly"].

In [49]:
first_conc =  ["M", "na", "i", "Ke"]
second_conc = ["y", "me", "s", "lly"]

merged_by_index = []


for x,y in zip(first_conc, second_conc):

    merged_by_index.append(x+y)

print(merged_by_index)

for merged in merged_by_index:
    print(merged, end=' ')

['My', 'name', 'is', 'Kelly']
My name is Kelly

##### 15. Two lists, iterate both lists simultaneously and print the elements from the first in the original order and the elements from the second in reverse order.

In [58]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.reverse()

for l1,l2 in zip(list1, list2):

    print(l1, l2)

10 400
20 300
30 200
40 100

##### 16. Add a new item to a list after a specified item. e.g list1 = [10, 20, [300, [5000, 6000], 500], 30, 40] becomes [10, 20, [300, [5000, 6000, 7000], 500], 30, 40]. Consider that you know the structure of the list in advance.

In [62]:
list_of_lists = [10, 20, [300, [5000, 6000], 500], 30, 40] 

list_of_lists[2][1].append(7000)

print(list_of_lists)

[10, 20, [300, [5000, 6000, 7000], 500], 30, 40]

##### 17. In a list of integers, find the only element that is actually a string of letters representing that number. Then change it with the corresponding integer value. Assume that that number is between 0 and 9. Assume that the list is not ordered.

In [122]:
list_mix = [1,3,6,23,"eight",9,1,7,4,"TWo"]
#print(list_mix)

# Create a list for comparing the eventual words found in the list
comperable_list = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "zero"]

for element in range(len(list_mix)):    
    if isinstance(list_mix[element],str):
        list_mix[element] = list_mix[element].lower()
        

        for idx in range(len(comperable_list)):
            if comperable_list[idx] == list_mix[element]:
                print(element,idx)
                list_mix[element] = idx + 1
            else:
                continue
    else:
        continue

print(list_mix)

4 7
9 1
[1, 3, 6, 23, 8, 9, 1, 7, 4, 2]

In [108]:
x = [2,3,4,5,6]

for j in x:
    if j == 4:
        print(x[j])
        j =  "LLLL"

        print(j)


print(x)

6
LLLL
[2, 3, 4, 5, 6]

In [107]:
x = [2,3,4,5,6]
for i in range(len(x)):
    if x[i] == 4:
        x[i] = "Porco dio"
print(x)

[2, 3, 'Porco dio', 5, 6]

In [ ]:
basic_list = [2,7,11,4,23,9]
print(basic_list)

for num in range(len(basic_list)):
    basic_list[num] = basic_list[num]**2

print(basic_list)