## Lists in Python

##### 1. Some simple exercises: first create a list of letters out of your full name (only letters), check how many elements it has, and access some elements by their index.

In [ ]:
full_name: str = "Kamil Ashardy"

letters_name: list = []

for letters in full_name:
    if letters == " ":
        continue
    else:
        letters_name.append(letters)

print(len(letters_name))

#print the first letter
print(letters_name[0])

#print the last letter
print(letters_name[-1])

# print the third letter of your name
print(letters_name[2])

##### 2. Some list manipulations: create a list of 10 random numbers (do it manually), change the third element to be 300, add the number 500 at the end of it,  insert in the 4th position the number 400, remove the second last element and then print it out.

In [ ]:
first_list = [22,55,4,88,34,35,422,2,90,12]     # expected output: [22,55,300,400,88,34,35,422,2,90,500]

first_list[2] = 300

first_list.append(500)

first_list.insert(3,400)

del first_list[-2]

print(first_list)

##### 3. From a list of number, calculate the sum and the average of the numbers.

In [ ]:
numb_list = [3,1,33,5,14,72,8]


sum_elements = sum(numb_list)

avg_numb_list = sum_elements / len(numb_list)


print(sum_elements)
print(round(avg_numb_list,1))

##### 4. Reverse a list of numbers without using the reverse function.

In [ ]:
straight = [0,1,2,3,4,5,6,7,8,9]

reversed = []

for num in range(len(straight)-1,-1,-1):

    reversed.append(straight[num])

print(straight)
print(reversed)

##### 5. A list of integers, turn all the numbers in their squared value. Do not create a new list just modify the existing one.

In [ ]:
basic_list = [2,7,11,4,23,9]
print(basic_list)

for num in range(len(basic_list)):
    basic_list[num] = basic_list[num]**2

print(basic_list)

##### 6. Find the max and the min value in a list of numbers.

In [ ]:
other_list = [3,11,7,4,9,6,232,5]

print(other_list)

print(min(other_list))

print(max(other_list))

##### 7. Give an example of the count() function with a list of numbers.

In [ ]:
listone = [3,11,5,2,3,77,9,3,45,654,3,90,59,90]
print(listone)

print(listone.count(3))
print(listone.count(90))
print(listone.count(282))
print(listone.count(77))

##### 8. Sort a list of numbers in ascending and descending order.

In [ ]:
listone = [3,11,5,2,77,9,45,654,90,59]

ascending = sorted(listone)
descending = sorted(listone,reverse=True)

print(listone)
print(ascending)
print(descending)

##### 9. Combine two lists  into a single one.

In [ ]:
list_uno = [1,4,3,5]
list_due = ['a','r','t','y']

unified = list_uno + list_due

print(unified)

##### 10. From a list of string, eliminate the empty strings.

In [ ]:
words_list = ['friend','','lawyer','parent','','doctor','','driver']
new_words_list = []


for word in words_list:
    if word == '':
        continue
    else:
        new_words_list.append(word)

print(words_list)    
print(new_words_list)

##### 11. Remove duplicates from a list of numbers.

In [ ]:
duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

duplicates = set(duplicates)

duplicates = list(duplicates)

print(duplicates)

##### 12. From a list of numbers and strings, create two separate lists one for the numbers and one for the strings. Use list comprehension.

In [ ]:
mixed_list = [1, 'Carl', 44, 'Ella', 22, 'Amber', 7, 23, 78, 'Michal', 'Lumber', 34]


integer_list = [element for element in mixed_list if isinstance(element, int)]

string_list = [element for element in mixed_list if isinstance(element,str)]

print(integer_list)

print(string_list)

##### 13. From a nested list, access only the all the string elements, and print them out one by one.

In [ ]:
nested_list = [1, 'Carl', 44, ['Ella', 22, 'Amber', 7, 23], 78, 'Michal', ['Lumber', 34]]

for element in nested_list:
    if isinstance(element, list):
        for j in element:
            if isinstance(j,str):
                print(j)
    elif isinstance(element, str):
        print(element)

    else:
        continue

##### 14. Concatenate two lists index by index. Then print the result. E.g. ["M", "na", "i", "Ke"] and ["y", "me", "s", "lly"] should become ["My", "name", "is", "Kelly"].

In [ ]:
first_conc =  ["M", "na", "i", "Ke"]
second_conc = ["y", "me", "s", "lly"]

merged_by_index = []


for x,y in zip(first_conc, second_conc):

    merged_by_index.append(x+y)

print(merged_by_index)

for merged in merged_by_index:
    print(merged, end=' ')

##### 15. Two lists, iterate both lists simultaneously and print the elements from the first in the original order and the elements from the second in reverse order.

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.reverse()

for l1,l2 in zip(list1, list2):

    print(l1, l2)

##### 16. Add a new item to a list after a specified item. e.g list1 = [10, 20, [300, [5000, 6000], 500], 30, 40] becomes [10, 20, [300, [5000, 6000, 7000], 500], 30, 40]. Consider that you know the structure of the list in advance.

In [ ]:
list_of_lists = [10, 20, [300, [5000, 6000], 500], 30, 40] 

list_of_lists[2][1].append(7000)

print(list_of_lists)

##### 17. In a list of integers, find the only element that is actually a string of letters representing that number. Then change it with the corresponding integer value. Assume that that number is between 0 and 9. Assume that the list is not ordered.

In [ ]:
list_mix = [1,3,6,23,"eight",9,1,7,4,"TWo"]
#print(list_mix)

# Create a list for comparing the eventual number string found in the list
comperable_list = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "zero"]

for element in range(len(list_mix)):    
    if isinstance(list_mix[element],str):
        list_mix[element] = list_mix[element].lower()
        

        for idx in range(len(comperable_list)):
            if comperable_list[idx] == list_mix[element]:
                print(element,idx)
                list_mix[element] = idx + 1
            else:
                continue
    else:
        continue

print(list_mix)

##### 18. Take an input of integers separated by comma from the user and create a list of integers out of it.

In [ ]:
numbers = input("Give a serie of integer numbers separeted by comma.")

list_of_numbers = []

for char in numbers:
    if char == ',':
        continue
    else:
        list_of_numbers.append(int(char))

print(list_of_numbers)

##### 19. Write a program to find the Union and Intersection of two lists.

In [ ]:
def intersection(list_1, list_2):

    intersection = []
    for num in list_1:
        if num in list_2:
            intersection.append(num)
    return intersection

def union(list_1, list_2):

    union =list_1.copy()
    #for elements in list_1:
    #        union.append(elements)

    for num in list_2:
        if num not in list_1:
            union.append(num)
    
    return union

first = [1, 2, 3, 4, 5, 6, 7]
second = [4, 5, 6, 7, 8, 9, 10]

print(intersection(first,second))
print(union(first,second))

##### 20. Write a Python program to find the first never-repeated element in a the whole list.

In [ ]:
def not_repeated(random_number:list[int])-> int:

    dict_numbers = {}

    for num in random_number:
        if num not in dict_numbers:
            dict_numbers[num] = 1
        else:
            dict_numbers[num] += 1

    print(dict_numbers)

    for key, value in dict_numbers.items():
        if value == 1:
            return key 
       


# First 
nums_1 =  [1, 2, 3, 4, 5, 6, 7, 8]

result = not_repeated(nums_1)
print("First non-repeated element in the said list:")
print(f"{result}\n")

# Second
nums_2 =  [1, 2, 3, 1, 2, 4, 5, 6, 7, 8]

result = not_repeated(nums_2)
print("Second non-repeated element in the said list:")
print(f"{result}\n")

#Third
nums_3 =  [1, 1, 2, 3, 1, 2, 3, 8, 8]

result = not_repeated(nums_3)
print("Third non-repeated element in the said list:")
print(f"{result}\n")

##### 21. Convert a list of string in a string using .join()