## Loops in Python. ##

##### 1. Print first 10 natural numbers using while loop

In [ ]:
x = 0

while x < 10:
    x +=1
    print(x)

##### 2. Print: 
    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [ ]:
number_list = ''
x = 0

while x < 5:
    x += 1
    number_list += str(x)
    print(number_list)

In [ ]:
for x in range(1,5+1):
    for j in range(1,x+1):
        print(j,end='')
    print()

##### 3. Calculate sum of all numbers from 1 to a given number

In [ ]:
given = int(input("Please, enter a number"))
counter = 0
sum = 0

while counter <= given:
    sum += counter
    counter += 1

print(sum)

##### 4. Print multiplication table of a given number

In [ ]:
given = int(input("Please, enter a number between 0 and 10"))

for x in range(0,11):
    result = given * x
    print(result)

##### 5. Print from a list all the number that are divisible by 5, smaller than 150. The loop should stop if an encountered number is greater than 500.

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for x in numbers:
    if x > 500:
        break
    elif (x <= 150) and (x % 5 == 0) :
        print(x)
    else:
        continue

##### 6. Use a while loop to count the number of digits in a number.

In [ ]:
number = 7472956390
counter = 0

while number > 0:
    number = number // 10
    counter += 1

print(counter)

##### 7. Print:
    5 4 3 2 1
    4 3 2 1
    3 2 1
    2 1
    1

In [ ]:
number = 5

for x in range(number, 0, -1):
    for j in range(x, 0 ,-1):
        print(j,end='')
    print()

##### 8. Print a list in reverse order using a loop.

In [ ]:
list_direct = [10, 20, 30, 40, 50]
lis_inversed =[]

for x in range(len(list_direct), 0, -1):
    print(list_direct[x-1])

##### 9. Display numbers from -10 to -1 using for loop.

In [ ]:
for num in range(-10,0):
    print(num)

##### 10. Print all prime numbers within a range.

In [ ]:
left_limit = int(input("Enter a number, please."))
right_limit = int(input("Enter the second number."))

for number in range(left_limit, right_limit):
    if number > 1:
        for i in range(2, number):
            if (number % i == 0):
                break
        else:
            print(number)

##### 11. Print the Fibonacci sequence up to n terms.

In [ ]:
terms = 10
number = 0
adding = 1

for x in range(0,terms):
    result = adding + number
    print(number, end=' ')
    number = adding
    adding = result

##### 12. Find the factorial of a given number using a loop.

In [ ]:
n = 5
factorial = 1

for x in range(1,n+1):
    factorial = factorial * x    
print(factorial)

In [ ]:
num_ = 5
factorial_ = 1

while num_ > 0 :
    factorial_ = factorial_ * num_
    num_ -= 1
print(factorial_)

##### 13. Given a number, return its reverse. For example, given 1234, return 4321.

In [ ]:
given_n = 1234
reversed_n = 0

while given_n > 0:
    extracted_last_num = given_n % 10
    given_n = given_n // 10 

    #print(f"extracted    {extracted_last_num}")
    #print(f"still to be extract  {given_n}")

    reversed_n = (reversed_n * 10) + extracted_last_num
    
print(f"reversed    {reversed_n}")

##### 14. From a list, print only the numbers in an even index using a loop.

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for x in range(len(my_list)):
    if x % 2 == 0 and x != 0:
        print(f"Index: {x}, number: {my_list[x]}")

##### 15. Calculate the sum of the digits of a number using a loop.

In [ ]:
number = int(input("Enter an integer number."))
digits_sum = 0

while number > 0:
    last_digit = number % 10    
    digits_sum += last_digit
    number = number // 10

print(digits_sum)

##### 16. Calculate the cube of the numbers from 1 to an input number.

In [ ]:
input_num = int(input("Enter a number."))

for x in range(1,input_num+1):
    cube_num = x ** 3
    print(f"Number: {x}. The cube is: {cube_num}")

##### 17. Print the pattern:
    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *   
    * *
    *

In [ ]:
limiter = 5


for x in range(1,(limiter*2)+1):
    if x < limiter:
        print('* '*x)
    elif x == limiter:
        print("* "*x)

for x in range((limiter-1),0,-1):       
    print("* "*x)

##### 18. Print the multiplication table for a given number.

In [ ]:
given = int(input("Please, enter a number"))
print(f"MULTIPLICATION TABLE OF {given}")
print("\r")
print(f"{'Multiplication':<5} {'Result':>10}")
print("\r")


for x in range(11):
    result = given * x
    print(f"{given} X {x:<5} {result :>12}")

##### 19. Print the pattern:
    1
    2 3
    4 5 6
    7 8 9 10
    11 12 13 14 15

In [ ]:
last_num = 5
init_num = 1
counter = 0

for x in range(1,last_num+1):
    string = ''
    for j in range(1,x+1):
        counter += 1
        string += f"{counter} "
    print(string)

##### 20. Flatten a nested list using loops. The result should be a single list. For example, [[1, 2], [3, 4], [5]] should become [1, 2, 3, 4, 5].

In [ ]:
nested_list = [1, [2, 3], [4, 5, 6], 7, [8, 9]]

flatten_list = []

for elements in nested_list:
    for x in elements:
        flatten_list.append(x)

print(flatten_list)